{% extends "layout.html" %}
    
   {% block title %}
   <title>{{username}}'s Files</title>
   {% endblock %}

   {% block content %}
   <table class="table">
        <thead>
            <tr>
                <th>FileName</th>
                <th>URL</th>
                <th>Size</th>
            </tr>
        </thead>
        {% for file in files %}
        <tbody>
        
        <tr>
                <td scope="row">{{ file.filename }}</td>
                <td><a href="{{ file.url }}">{{file.url}}</a></td>
                <td>{{ file.size }}</td>
            </tr>
        {% endfor %}
        
       
            
           
        </tbody>
    </table>
    <a name="Upload" id="upload" class="btn btn-primary" href="/upload" role="button">Upload More!</a>
   {% endblock %}
