{% extends "layout.html" %}

      {% block title %}
      <title>Login</title>
      {% endblock %}
      
   
   {% block content %}
   <div class="form-group">
        <form method="POST">
          <label for=""></label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelpId" placeholder="">
          <small id="emailHelpId" class="form-text text-muted">Username</small>
    
          <label for=""></label>
          <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelpId" placeholder="">
          <small id="passwordHelpId" class="form-text text-muted">Password</small>
    
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
   {% endblock %}
   
   

